table {
    position: absolute;
    left: 45%;
    border: 1px solid black;
    margin: 0px;
    font-size: 25px;
    top: 20%;
}
th {
    border: 1px black solid;
    margin: 0px;
}
td {
    border: 1px black solid;
    margin: 0px;
}
#grid1 {
    border-right: 1px solid black;
    height: 1230px;
    padding:  70px;
    margin: 0px;
}
li {
    list-style: none;
    margin: 10px;
}
#grid3 {
    text-decoration: none;
    color: black;
    font-size: 30px;
}
#grid {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
}
body {
    margin: 0px;
}
h1 {
    border-bottom: 1px black solid;
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-size: 70px;
}
p {
    position: absolute;
    left: 32%;
    top: 17%;
}